.scroll-btn-circle {
  stroke-width: 1;
}

.scroll-btn-path {
  stroke-width: 1;
}

@media screen and (min-width: 420px) {
  .scroll-btn-path {
    stroke-width: 3;
  }
  .scroll-btn-circle {
    stroke-width: 3;
  }
}
